.painel-calendar{
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 10px;
}
.week{
    
}
.week-calendar{
    color: lightseagreen;
    padding: 1rem!important;
    margin-left: 1rem!important;
    font-size: 20px;
    
}