<div class="row">
    <Section class="col s8 offset-s2 painel-calendar">
        <div class="row">
            <div class="col s6  blue lighten-1">
                <h4>Dia Atual da Semana</h4>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s12">
                        <h4>2020 (Ano Atual)</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s12">
                                Meses do ano
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                Dias da Semana
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </Section>
</div>