<div class="row">
    <Section class="col s12  painel-calendar">
        <div class="row">
            <div class="col s6 Info-calendar">
                <!-- mostrando informações da data -->
                <div class="row">
                    <div class="col s12">
                        <h4> {{ date | date:'EEEE'}}</h4>
                        <h6> {{ date | date:'longDate'}}</h6>
                    </div>
                </div>
                <!-- input -->
                <div class="row">
                    <div class="divider"></div>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <h5>Tarefas</h5>
                                <input id="tarefa" type="text" class="validate" placeholder="Adicionar Tarefa">
                                <span class="helper-text" data-error="wrong" data-success="right">Adicione na
                                    Agenda</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="divider"></div>
                    <h5>Feriados Do Mes</h5>
                    <p>12/06 - Vai se lascar</p>
                    <p>12/06 - Vai se lascar</p>
                </div>
            </div>
            <div class="col s6 ">
                <div class="row">
                    <div class="col s12">
                        <h4 class="text-right">{{ date | date:'yyyy'}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s12 text-center">
                                {{ date | date:'MMMM'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 week">
                                <div class="col s1 week-calendar" ng-repeat='semanas in dateWeek'>
                                    <p> {{ semanas }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 week">
                                <div class="col s1 day-calendar" ng-repeat='dias in dateDay'>
                                    <p> {{ dias }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Section>
</div>