<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        somejson = {
            email: 'jdc_santos@outlook.com',
            password: '123456'
        };
        console.log(somejson)
        $.ajax({
            url: "http://jdc.profrodolfo.com.br/backend/auth/login",
            type: "POST",
            data: somejson,
            success: function (res) {
                console.log(res);
            },
            error: function (res) {
                alert(res);
            }
        });
        console.log($.ajax({
            url: "http://jdc.profrodolfo.com.br/backend/auth/login",
            type: "POST",
            data: somejson,
            success: function (res) {
                console.log(res);
            },
            error: function (res) {
                alert(res);
            }
        }))
    </script>
</body>

</html>