<div class="row">
    <div class="col s12 user-painel">
        <img materialboxed class="materialboxed responsive-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSt0P9VVsmft2Q0gP7fMmZWG6nO0P2Xet61NS2CA6ihg0eAiGbu&usqp=CAU">
        <h5>{{userName}}</h5>
        <div class="row">
            <form class="col s12 editProfile color">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" ng-model="edit.name" class="validate">
                        <label for="Name">Nome</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Caso queira atualizar seu
                            nome</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" ng-model="edit.height" ui-mask="9,99" ui-mask-placeholder
                            ui-mask-placeholder-char="_" class="validate">
                        <label for="height">Altura</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Insira sua Altura</span>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" ng-model="edit.weight" ui-mask="999,9" ui-mask-placeholder
                            ui-mask-placeholder-char="_" class="validate">
                        <label for="weight">Peso</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Seu Peso</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" ng-model="edit.dt_birth" ui-mask="99/99/9999" ui-mask-placeholder
                            class="validate">
                        <label for="dt_birth">Data de Nascimento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <button class="waves-effect  btn-large red darken-4"> Cancelar </button>
                    </div>
                    <div class="col s6">
                        <button class="waves-effect waves-light btn-large grey darken-4" ng-click="enviar(edit)"> Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>