<div class="row">
    <div class="col s12 home-painel">
        <h2><i class="fas fa-chart-line"></i> Finanças</h2>
        <p>Aqui você pode ver a principal cotação atual de dados financeiros.</p>
    </div>
</div>
<div class="row">
    <div class="col s12 cotation-painel">
        <div class="row">
            <div class="col s12">
                <h5>Cotação do Dolar</h5>
            </div>
        </div>

        <div class="row">
            <div class="col s8 offset-s2">

                <span class="name-cotation" id="cotation-dolar">
                    <span ng-class="{'badge-cotations color-blue':isCotation(finances.results.currencies.USD.variation),
                        'badge-cotations color-red':isCotation2(finances.results.currencies.USD.variation)}">
                        <i class="fas fa-arrow-up" ng-if="isCotation(finances.results.currencies.USD.variation)"></i>
                        <i class="fas fa-arrow-down" ng-if="isCotation2(finances.results.currencies.USD.variation)"></i>
                        {{finances.results.currencies.USD.variation}}
                        %</span>
                    <br>
                    <span
                        ng-class="{'price color-green':isCotation(finances.results.currencies.USD.buy),
                    'price color-red':isCotation2(finances.results.currencies.USD.buy)}">{{finances.results.currencies.USD.buy | currency:"R$ " }}</span>
                    <br>
                    {{finances.results.currencies.USD.name}}
                </span>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
                <h5>Cotação das principais Moedas do Brasil</h5>
            </div>
        </div>

        <div class="row">
            <div class="col s6 m6 l6 cotate-info" ng-repeat=" cotations in finances.results.currencies">

                <span class="name-cotation">
                    <span ng-class="{'badge-cotations blue':isCotation(cotations.variation),
                        'badge-cotations red':isCotation2(cotations.variation)}">{{cotations.variation}}
                        %</span>
                    <br>
                    <span class="price">{{cotations.buy | currency:"R$ "}}</span>
                    <br>
                    {{cotations.name}}
                </span>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
                <h5>Indices de Bolsas de Valores Pelo Mundo</h5>
            </div>

        </div>
        <div class="row">
            <div class="col s6 m3 l3" ng-repeat=" bolsas in finances.results.stocks">

                <span class="name-cotation">
                    <span class="variation" ng-class="{'badge-cotations color-green':isCotation(bolsas.variation),
                        'badge-cotations color-red':isCotation2(bolsas.variation)}">

                        {{bolsas.variation}}%
                    </span>
                    <br>
                    {{bolsas.name}}
                    <br>
                    <span class="location">{{bolsas.location}}</span>
                </span>

            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
                <h5>Cotação do BitCoin nas Principais Corretoras</h5>
            </div>

        </div>
        <div class="row">
            <div class="col s4" ng-repeat=" bolsas in finances.results.bitcoin">

                <span class="name-cotation">
                    <span class="variation" ng-class="{'badge-cotations color-green':isCotation(bolsas.variation),
                        'badge-cotations color-red':isCotation2(bolsas.variation)}"><i class="fas fa-arrow-up"
                            ng-if="isCotation(bolsas.variation)"></i><i class="fas fa-arrow-down"
                            ng-if="isCotation2(bolsas.variation)"></i>
                        {{bolsas.variation}}%</span>
                    <br>
                    {{bolsas.name}}
                    <br>
                    <span class="location">{{bolsas.location}}</span>
                </span>

            </div>
        </div>
    </div>
</div>