<div class="row">
    <div class="col s12 home-painel">
        <h2><i class="fas fa-home"></i> Bem Vindo , Jão</h2>
        <p>O que podemos fazer por você hoje,precisa de algo?</p>
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col s12 home-painel">
        <h2><i class="fas fa-battery-full"></i>Bateria</h2>
        <p>{{bateryInfo.porcentagem}}</p>
        <p ng-if="!bateryInfo.charge" class="red-text darken-2">Aparelho não esta carregando</p>
        <div class="progress">
            <div class="determinate" style='width: {{bateryInfo.porcentagem}}'></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 home-painel">
        <h2><i class="far fa-newspaper"></i> Noticias</h2>
        <p>Principais Noticias Do Brasil</p>
    </div>
</div>
<div class="row">
    <div class="col s12" ng-repeat="noticias in news.articles |orderBy:ASC |limitTo:5">
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{noticias.urlToImage}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>{{noticias.title}}</h4>
                    <p>{{noticias.description}}</p>
                </div>
                <div class="card-action">
                    <a href="{{noticias.url}}" class="text-center">Ver Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>