<div class="row">
    <section class="col s12 m8 l8 offset-m2 offset-l2">
        <div class="section Login-container z-depth-2">
            <div class="row">
                <div class="col s12">
                    <img src="img/logo-1.png" class="responsive-img logo" alt="Tap!">
                </div>
            </div>
            <h5>Login</h5>
            <p>Insira seus dados para entrar no <b>Tap!</b></p>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="email" class="validate" ng-model="usuario.email">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" class="validate" ng-model="usuario.password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <!-- Switch -->
                            <div class="switch">
                                <label>
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    Lembrar-me
                                </label>
                            </div>
                        </div>
                        <div class="col s6">
                            <!-- Switch -->
                            <a href="/register">Cadastrar-se</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="red">{{msg}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 button-login">
                            <button class="btn waves-effect waves-light btn-large light-blue lighten-2"
                                ng-click="enviar(usuario)">
                                Enviar
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 button-login">
                            <!-- Switch -->
                            <a href="/cadastro">Esqueci Minha Senha</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>