<!-- Title of page. -->
<div class="row">
    <div class="col s12 mt-5 text-center">
        {{userName}}
        <h2><i class="fas fa-list-ul"></i> Minhas tarefas</h4>
            <p>Aqui você pode ver a suas tarefas a fazer e adicionar mais alguma.</p>
    </div>
</div>
<!-- End of title.. -->

<!-- Box with the task items.  -->
<div class="row">
    <div class="col s12 text-center">
        <button class="btn waves-effect waves-light red darken-4 btn-large" data-target='demoModal' modal>Adicionar Uma
            Nova Tarefa <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<!-- End of the box. -->

<!-- Menu fixed at bottom -->
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col l3 m12 task-item" ng-repeat="tarefa in tarefas track by $index">
                <h4>{{tarefa.name}} <i class="fas fa-times" ng-click="excluirTarefa($index)"></i></h4>
                <p>{{tarefa.description}}</p>
            </div>

        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="demoModal" class="modal">
    <div class="modal-content">
        <h4>Nova Tarefa</h4>

        <div class="row">
            <div class="input-field col s12 task-create">
                <input type="text" class="validate" ng-model="task.name">
                <label> Nome da tarefa</label>
                <p>Adicione um titulo para essa tarefa</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" ng-model="task.description"></textarea>
                <label for="textarea1">Descriçaõ da tarefa</label>
                <p>Adicione uma descrição para essa tarefa</p>

            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="waves-effect waves-light btn-large" ng-click="criarTarefa(task)">Criar Tarefa</button>
            </div>
        </div>

    </div>
    <div class="modal-footer">

        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>