<nav class="grey darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center"><img src="img/logo-1.png" class="responsive-img logo" alt="Tap!"></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="sass.html"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
    </div>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
</nav>
<!-- Title of page. -->
<div class="row">
    <div class="col s12 mt-5 text-center">

        <h2><i class="fas fa-list-ul"></i> Minhas tarefas</h4>
            <p>Aqui você pode ver a suas tarefas a fazer e adicionar mais alguma.</p>
    </div>
</div>
<!-- End of title.. -->

<!-- Box with the task items.  -->
<div class="row">
    <div class="col s12 text-center">
        <button class="btn waves-effect waves-light red darken-4 btn-large" data-target='demoModal' modal>Adicionar Uma
            Nova Tarefa <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<!-- End of the box. -->

<!-- Menu fixed at bottom -->
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col l3 m12 task-item" ng-repeat="tarefa in tarefas track by $index">
                <h4>{{tarefa.name}} <i class="fas fa-times" ng-click="excluirTarefa($index)"></i></h4>
                <p>{{tarefa.description}}</p>
            </div>
            <div class="col s3 task-item">

            </div>
            <div class="col s3 task-item">

            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="demoModal" class="modal">
    <div class="modal-content">
        <h4>Nova Tarefa</h4>

        <div class="row">
            <div class="input-field col s6 task-create">
                <input type="text" class="validate" ng-model="task.name">
                <label> Nome da tarefa</label>
                <p>Adicione um titulo para essa tarefa</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <textarea id="textarea1" class="materialize-textarea" ng-model="task.description"></textarea>
                <label for="textarea1">Descriçaõ da tarefa</label>
                <p>Adicione uma descrição para essa tarefa</p>

            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <button class="waves-effect waves-light btn-large" ng-click="criarTarefa(task)">Criar Tarefa</button>
            </div>
        </div>

    </div>
    <div class="modal-footer">

        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>