<div class="row">
    <div class="col s12 user-painel">
        <img materialboxed class="materialboxed responsive-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSt0P9VVsmft2Q0gP7fMmZWG6nO0P2Xet61NS2CA6ihg0eAiGbu&usqp=CAU">
        <h5>João Vitao</h5>
        <h6><a class="editProfile" href="/editProfile">Editar Meu Perfil <i class="fas fa-pen-square"></i> </a></h6>
        <a href="#">
            <p ng-click="showTabs = !showTabs">Ver Informações Sobre Perfil</p>
        </a>
    </div>
</div>
<div class="row" ng-if="showTabs">
    <div class="col s12">
        <ul tabs reload="allTabContentLoaded">
            <li class="tab col s3"><a class="active" href="#test1">Biografia</a></li>
            <li class="tab col s3"><a href="#test2">Modulos Instalados</a></li>
            <li class="tab col s3"><a href="#test3" ng-click="geo()">Localização</a></li>
            <li class="tab col s3"><a href="#test4">Contato Comercial</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12 user-painel-info">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="header">Biografia </h5>
                        <p>Solteiro, gato , amante por tecnologia e programação desde novinho e programador JS </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="test2" class="col s12 m12 l12 user-painel-info">
        <div class="col s12 m12 l12" ng-repeat="modules in modulos">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="{{modules.icon}}"></i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="header">{{modules.nome}}</h5>
                        <p>{{modules.description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="test4" class="col s12 user-painel-info">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="fas fa-envelope-open-text"></i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="header">Email Comercial</h5>
                        <p>jvitorn.contato@gmail.com</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="test3" class="col s12 user-painel-info">
        <div class="col s12">
            <div class="card horizontal">

                <div class="card-stacked">
                    <h5 class="text-center">Localização</h5>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>